:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

article, footer, header, nav, section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#nav {
    position: relative;
    left: 100%;
}

#nav li {
    display: inline-block;
    padding: 0 10px 0 10px;
}

#nav li button {
    padding: 10px 20px 10px 20px;
}

a {
    color: #f8f9fa;
}

.contenedor {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: .25rem
}

@media (min-width:576px) {
    .contenedor {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .contenedor {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .contenedor {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .contenedor {
        max-width: 1140px
    }
}

.bg-oscuro {
    background-color: #343a40!important
}

.bg-claro {
    background-color: #f8f9fa!important
}

.texto-blanco {
    color: #f8f9fa!important
}

.carta {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.carta-cuerpo {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.division-4 {
    -ms-flex: 0 0 30.333333%;
    flex: 0 0 30.333333%;
    max-width: 30.333333%;
}

.enlinea {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.botones {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-bordes-oscuro {
    color: #343a40;
    border-color: #343a40
}

.btn-bordes-oscuro:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-block {
    display: block;
    width: 100%
}

.grupo-formulario {
    margin-bottom: 1rem
}

.grupo-input {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%
}

.controles-formulario {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

textarea {
    overflow: auto;
    resize: vertical
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.justificado {
    text-align: justify!important
}

.centrado {
    text-align: center!important
}